body
{
    background-color: hsl(0, 0%, 98%) ;
}
main
{
    font-family: "Poppins", sans-serif ;
    display: flex;
    flex-direction: column;
}
.titleBox
{
    text-align: center;
    margin: 2vh 3vw 5vh 3vw;
}
.grid
{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw ;
    grid-template-rows: 12vh 12vh 12vh 12vh;
    gap : 35px;
    margin:auto;
}
.grid .image
{
    align-self:end;
}


.supervisorBox
{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: white;
    padding : 0 2vw 2vw 2vw;
    border-top: 5px solid hsl(180, 62%, 55%);
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(3, 7, 18, 0.02);
}

.teamBuilderBox
{
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
    padding : 0 2vw 2vw 2vw;
    border-top: 5px solid hsl(0, 78%, 62%);
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(3, 7, 18, 0.02);
}
.karmaBox
{
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: white;
    padding : 0 2vw 2vw 2vw;
    border-top: 5px solid hsl(34, 97%, 64%);
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(3, 7, 18, 0.02);
}
.calculatorBox
{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: white;
    padding : 0 2vw 2vw 2vw;
    border-top: 5px solid hsl(212, 86%, 64%);
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(3, 7, 18, 0.02);
}

h1 
{
    font-size: 2.5em;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    margin-bottom: 15px;
}
h1 em
{
    font-size: 2.8;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
p
{
    color: hsl(229, 6%, 66%);
    font-family:"Poppins", sans-serif ;
    font-size: 1em;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}


@media (min-width: 321px) and (max-width: 1024px)
{
    .grid
    {
        display: flex;
        flex-direction: column;
        margin: 0 5vw 0 5vw;
    }
    h1 
    {
        font-size: 1.5em;
    }
}
@media  (min-width: 1023px) and (max-height: 750px)
{
    h1 
    {
        font-size: 1.5em;
        margin-bottom: 2vh;
    }
    .titleBox
    {
        margin-bottom: 2vh;
    }
   p
   {
    margin: 0;
   }
   h2 
   {
    margin-bottom:5px;
   }
}
